body {
  font-family: "Rammetto One", cursive;
  margin: 5%;
  background-image: url("http://res.freestockphotos.biz/pictures/4/4371-illustration-of-a-blank-frame-border-of-red-white-and-blue-stars-pv.png");
  background-size: 100%;
}